.flex-1 {
  flex: 1;
}
.background-grey {
  background-color: #f5f7fc;
}

.text-grey {
  color: #454545 !important;
}
.text-light-grey {
  color: #878787 !important;
}
.text-sky-blue {
  color: #071e55 !important;
}
.text-lighter-grey {
  color: #7c8595 !important;
}
.section-padding {
  padding: 5.625rem 0 5.625rem 0;
}
.div-border {
  padding: 1.5625rem;
  box-shadow: 0 4px 30px rgba($color: #000, $alpha: 0.08);
}
.card-hover {
  &:hover {
    transform: translateY(-10px);
  }
  transition: 0.7s;
  transition-timing-function: ease-out;
}
